<div class="request">

    <div class="addrequest" *ngIf="roleuser!='UserTraitement'">

        <form [formGroup]="this.formrequest" (ngSubmit)="addgroupe()">
            <div formGroupName="user">
              <input type="hidden" formControlName="id" [value]="iduser" />
            </div>
            <div formGroupName="groupe">

                    <label for="groupeId">Groupe:</label>

                    <select  formControlName="id" required>
                      <option value="{{ g?.id }}" *ngFor="let g of groups">{{ g?.namegroupe }}</option>
                  </select>
            </div>

            <div>
              <label for="label">Libellé:</label>
              <input type="text" id="label" formControlName="label" />
            </div>

            <div>
              <label for="comment">Commentaire:</label>
              <textarea id="comment" formControlName="comment"></textarea>
            </div>
            <button type="submit">Enregistrer</button>
        </form>


    </div>

    <div class="getAllrequest" *ngIf="roleuser!='UserTraitement'">
        <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Libellé</th>
                <th>Commentaire</th>
                <th>Etat </th>
                <th>Traitement</th>
                <th>Groupe</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let req of requests | paginate: { itemsPerPage: 10, currentPage: p }">

                <td>{{ req.id }}</td>
                <td>{{ req.label }}</td>
                <td>{{ req.comment }}</td>
                <td [ngClass]="{
                  'red': req.approveManager == false,
                  'blue': req.approveManager == null,
                  'green': req.approveManager == true
                }">
                  {{ req.approveManager == null ? 'en cours' : req.approveManager == false ? 'non Validé' : 'Validé' }}
                </td>

                <td [ngClass]="{
                  'red': req.approveManager == false,
                  'blue': req.approveManager == null,
                  'green': req.approveManager == true
                }">
                  {{  req.approveUserAprovel == null ? 'en cours' : req.approveUserAprovel == false ? 'Non Traité' : 'Traité' }}
                </td>


                <td>{{ req?.groupe?.namegroupe }}</td>
              </tr>
            </tbody>
          </table>
          <!-- Use ngx-pagination controls to handle pagination -->
          <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </div>




    <app-requestaprover *ngIf="roleuser=='UserTraitement'"></app-requestaprover>
    <app-requestmanager *ngIf="roleuser=='manager'"></app-requestmanager>

</div>

